.mailer-head {
		text-transform: uppercase;
	}
	.height-img {
		height: 400px;
		width: 100%;
	}
	.c-email {
	  font-family: "Archivo Narrow";
	  font-size: 1.8em;
	  text-align: center;
	}
	.email a{
		font-family: "Archivo Narrow";
		font-size: 0.7em;
		color: black;
		text-align: center;
	}
