.beer-title {
  text-align: center;
}
.brewline1 {
  font-family: "Archivo narrow";
  font-weight: bold;
  padding: 0;
  margin-top: 5%;
  letter-spacing: 5px;
  text-decoration: overline;
  text-align: center;
}
.brewline {
  font-family: "Archivo narrow";
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
	margin-bottom: 40px;
}
h1 {
  margin-bottom: 0;
}
.beer-label {
  padding: 5% 0;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  @media ( min-width: $screen-md ) {
  max-width: 40%;
  }
}
.label-desc {
  font-size: 1em;
  padding-bottom: 0.5em;
}
.english-bg {
  background-color: rgba(#933837, 0.4);
  background-position-x: 76%;
  background-position-y: 0;
  @media ( min-width: $screen-md ) {
    background-position-x: 40%;
    background-position-y: 20%;
  }
}
.esb-bg {
  background-color: rgba(#9CBA5F, 0.4);
  background-position-x: 0%;
  background-position-y: 20%;
}
.stout-bg {
  background-color: rgba(#4A452A, 0.7);
  background-position-x: 40%;
  background-position-y: 20%;
}
.ipa-bg {
  background-color: rgba(#CA661A, 0.4);
  background-position-x: -50%;
  background-position-y: 20%;
}
.ypa-bg {
  background-color: rgba(#0099FE, 0.4);
  background-position-x: 20%;
  background-position-y: 10%;
  @media ( min-width: $screen-md ) {
    background-position-x: 40%;
    background-position-y: 20%;
  }
}
.beer-desc {
  margin-top: 10%;
  font-family: "Open Sans Condensed";
  font-size: 1em;
  p {
    color: $brand-white;
    @media ( min-width: $screen-md ) {
      font-size: 1em;
      padding-bottom: 0.5em;
    }
  }
  .details {
    color: $brand-gold;
  }
}
.details {
  text-align: center;
  color: rgb(153, 101, 21);
  font-family: "Archivo Narrow";
  font-size: 20px;
}
