.beer-title {
  text-align: center;
}
.brewline1 {
  font-family: "Archivo narrow";
  font-weight: bold;
  padding: 0;
  margin-top: 5%;
  letter-spacing: 5px;
  text-decoration: overline;
  text-align: center;
}
.brewline {
  font-family: "Archivo narrow";
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
	margin-bottom: 40px;
}
h1 {
  margin-bottom: 0;
}
.beer-label {
  padding-top: 5%;
  display: block;
  max-width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.english-bg {
  background-color: rgba(#933837, 0.5);
}







.beer-desc {
  margin-top: 20%;
  font-family: "Open Sans Condensed";
  font-size: 1em;
}
.details {
  text-align: center;
  color: rgb(153, 101, 21);
  font-family: "Archivo Narrow";
  font-size: 20px;
}
