.seasonal {
  font-family: "Archivo narrow";
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: center !important;
	margin-bottom: 40px;
	list-style-type: none;
}
.details {
	text-align: center;
  color: rgb(153, 101, 21);
  font-family: "Archivo Narrow";
}
.pad {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 2%;
}
.test {
	background: rgba(11, 63, 44, 0.95);
	height: auto;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
  padding: 5%;
  margin-top: 2px;
  @media ( min-width: $screen-md ) {
    width: 75%;
  }
  @media ( min-width: $screen-lg ) {
    width: 50%;
  }
}
.test>h3 {
  margin-bottom: 0;
}
.press-link {
	font-family: "Oswald";
	font-size: 3em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
  padding-top: 5%;
}
.press-desc {
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-family: "Open Sans Condensed";
	font-size: 20px;
  padding-top: 5%;
  @media (min-width: $screen-md ) {
    width: 75%;
  }
}
.btn-ghost {
  font-family: "Archivo Narrow",sans-serif;
  font-size: 22px;
  font-weight: 100;
  background-color: hsla(36,71%,97%,.7);
  color: #996515;
  text-transform: uppercase;
  border-radius: 0;
  border: 2px solid #fdf9f3;
  padding: 10px 25px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  &:hover {
    background-color: $brand-white;
  }
}
